- unless current_user
  %p
    %h3 Sign in first
  %p Sign in with your ECS Google account to make sure your session is saved correctly.
  = render partial: 'devise/shared/openid'
  = render partial: 'devise/shared/help'
